.test{
  width: 100px;
  color: green;
  font-weight: bold;
  font-size: 150px;
}


.formWrapper {
  height: 96vh;
  display: flex;
  flex-direction: column;
  .width{
    width: 300px;
    color: orange;
  }

  &-header {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    color: rgb(146, 143, 143);
    flex: 0 1 auto;

    &_content {
      text-align: center;
      width: 33.3%;
      padding: 20px;
      cursor: pointer;
      z-index:  4;
      

      &:hover {
        background-color: rgb(58, 58, 58);
        color: rgb(173, 173, 173);
      }
    }
    &_style {
      width: 33.3%;
      padding: 20px;
      cursor: pointer;
      // z-index:  4;
      

      &:hover {
        background-color: rgb(58, 58, 58);
        color: rgb(173, 173, 173);
      }
    }

    &_advanced {
      width: 33.3%;
      padding: 20px;
      cursor: pointer;
      z-index:  4;

      &:hover {
        background-color: rgb(58, 58, 58);
        color: rgb(173, 173, 173);
      }
    }
  }

  .editOptions {
    background-color: rgb(58, 58, 58);
    color: rgb(173, 173, 173);
    flex: 1 1 auto;

    &-form {
      &_content {
        padding: 20px 50px;

        .content-field {
          label {
            display: block;
            padding: 5px 0px;
          }

          textarea {
            background-color: rgb(133, 133, 133);
            border: none;
            outline: none;
            padding: 5px 20px;
            width: 100%;
            height: 150px;
            // ne radi style za placeholder
            &::placeholder {
              color: rgb(255, 1, 1);
            }
          }
        }
      }
      &_style {
        padding: 50px;

        //btn
        &-header {
          margin-top: -25px;
          display: flex;
          flex-direction: row;
          justify-content: center;

          .normal {
            cursor: pointer;
            padding: 0px 20px;
            border-right: 1px solid rgb(0, 0, 0);
            border-bottom: 1px solid rgb(0, 0, 0);
          }
          .hover {
            cursor: pointer;
            padding: 0px 20px;
            border-left: 1px solid rgb(0, 0, 0);
            border-bottom: 1px solid rgb(0, 0, 0);
            
          }
        }

        //all 
        .style-field {
          label {
            font-size: 12px;
            display: block;
            padding: 5px 0px;
          }

          input {
            font-size: 12px;
            border: none;
            outline: none;
            padding: 0px 20px;
            background: transparent;
            color: rgb(255, 255, 255);
            width: 100%;
          }
          input[type=text]{
            background-color: rgb(133, 133, 133);
            // border: none;
            // outline: none;
            padding: 10px 20px;
            // color: rgb(255, 255, 255);
            // width: 100%;
          }
          select {
            // width: 150px;
            width: 100%;
            background-color: rgb(133, 133, 133);
            border: none;
            outline: none;
            padding: 10px 30px;
          }
        }
        //btn
        &--normal{
         
        }
        &--hover{

        }

      }

      &_advanced {
        .form-advanced_props {
          padding: 50px 10px;
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          grid-template-rows: repeat(6, 1fr);
          grid-column-gap: 40px;
          grid-row-gap: 10px;
          text-align: center;

          .margin {
            &-top {
              grid-area: 1 / 1 / 2 / 7;
              border: 1px solid orangered;
            }
            &-left {
              grid-area: 2 / 6 / 6 / 7;
              border: 1px solid orangered;
            }
            &-bottom {
              grid-area: 6 / 1 / 7 / 7;
              border: 1px solid orangered;
            }
            &-right {
              grid-area: 2 / 1 / 6 / 2;
              border: 1px solid orangered;
            }
          }
          .padding {
            &-top {
              grid-area: 2 / 2 / 3 / 6;
              border: 1px solid orangered;
            }
            &-left {
              grid-area: 3 / 5 / 5 / 6;
              border: 1px solid orangered;
            }
            &-bottom {
              grid-area: 5 / 2 / 6 / 6;
              border: 1px solid orangered;
            }
            &-right {
              grid-area: 3 / 2 / 5 / 3;
              border: 1px solid orangered;
            }
          }
          .content {
            grid-area: 3 / 3 / 5 / 5;
            border: 1px solid orangered;
          }
        }
      }
    }
  }

  &-footer {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex: 0 1 auto;
    padding: 20px;

    &_pc {
      font-size: 20px;
      color: rgb(173, 173, 173);
      cursor: pointer;

      &:hover {
        color: rgb(255, 255, 255);
      }
    }
    &_tablet {
      margin: 0px 20px;
      font-size: 20px;
      color: rgb(173, 173, 173);
      cursor: pointer;

      &:hover {
        color: rgb(255, 255, 255);
      }
    }
    &_phone {
      font-size: 20px;
      color: rgb(173, 173, 173);
      cursor: pointer;

      &:hover {
        color: rgb(255, 255, 255);
      }
    }
  }
}
